.grid-container {
  padding: 20px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-drop-zone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
}
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    height: 100px; /* Fixed height for each grid item */
    width: 100px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}