/* App.css*/

.gridDropZone {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Space between grid items */
  padding: 10px; /* Padding around the grid */
  background-color: #f9f9f9; /* Background color for the grid */
  border: 1px solid #ddd; /* Border around the grid */
  border-radius: 8px; /* Rounded corners for the grid */
  margin: 0 100px;
}

.griditemUI {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  height: 100px; /* Fixed height for each grid item */
  width: 100px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
